<configuration>
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [traceId:%X{traceId}] %highlight(%-5level) %cyan(%logger{45}:%L) - %msg %n{}MDC=%mdc%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="RCEA" class="com.linecorp.armeria.common.logback.RequestContextExportingAppender">
        <appender-ref ref="CONSOLE"/>
        <exports>
            client.*,
            tls.*,
            remote.*,
            scheme,
            req.service_name,
            req.method,
            req.path,
            req.query,
            res.status_code,
            traceId=attr:com.linecorp.armeria.internal.common.brave.TraceContextUtil#TRACE_CONTEXT:example.kt.armeria.spring.logging.TraceIdStringifier,
            spanId=attr:com.linecorp.armeria.internal.common.brave.TraceContextUtil#TRACE_CONTEXT:example.kt.armeria.spring.logging.SpanIdStringifier,
            parentId=attr:com.linecorp.armeria.internal.common.brave.TraceContextUtil#TRACE_CONTEXT:example.kt.armeria.spring.logging.ParentIdStringifier,
            sampled=attr:com.linecorp.armeria.internal.common.brave.TraceContextUtil#TRACE_CONTEXT:example.kt.armeria.spring.logging.SampledStringifier
        </exports>
    </appender>

    <root level="INFO">
        <appender-ref ref="RCEA"/>
    </root>
</configuration>
